.add-staff{
    background-color: white;
    padding:20px 20px;
    border-radius: 40px;
    position: relative;
    z-index: 1;
    margin-top: 40px;
    &__title{
        text-align: center;
        font-size: 28px;
        color: $pink-1;
        margin-bottom: 20px;
    }
    &__form{
        input, select{
            width: 300px;
            background-color: $brown-4;
            padding-left: 5px;
            border: none;
        }
        input:focus, select:focus{
            background-color: $brown-4;
        }
        .custom-file{
            .custom-file-label{
                background-color: $brown-4;
                &:after{
                    background-color: $brown-3;
                }
            }
        }
        .add-staff-btn{
            color: white;
            background-color: $brown-3;
            border-radius: 20px;
            font-weight: bold;
            flex-grow: 0;
            align-self: flex-end;
            margin: 0 auto;
            margin-top: 20px;

            a{
                color: white;
            }
        }
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}