* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0; }

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  position: relative;
  align-items: center;
  background-color: #F5BD8A; }

img {
  display: block;
  width: 100%;
  height: auto; }

a {
  text-decoration: none !important; }

main {
  z-index: 1; }

.sgk-nav {
  background-color: #F8E9BD;
  padding: 5px 0;
  padding-left: 20px;
  width: 100%;
  z-index: 1;
  box-shadow: 0 5px 3px rgba(119, 119, 119, 0.26); }
  .sgk-nav img {
    width: 300px; }

.role {
  z-index: 1;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 300px);
  gap: 30px;
  justify-content: center;
  padding-bottom: 40px; }
  .role__card {
    cursor: pointer;
    border-radius: 40px;
    padding: 20px;
    margin: 0 auto;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 2px 2px 5px rgba(145, 145, 145, 0.39); }
    .role__card h4 {
      margin-top: 20px;
      text-align: center;
      font-size: 24px;
      color: #C4817F; }
    .role__card img {
      width: 70%;
      height: auto; }
    .role__card:hover {
      animation: move-up-down .5s linear 1; }
  @media (max-width: 650px) {
    .role {
      grid-template-columns: repeat(1, 300px); } }
  @media (max-width: 400px) {
    .role {
      grid-template-columns: repeat(1, 250px); } }

@keyframes move-up-down {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-30px); }
  100% {
    transform: translateY(0); } }

.site-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
  .site-bg__curve {
    z-index: -9;
    position: absolute;
    width: 100%;
    height: 100vh;
    clip-path: ellipse(84% 39% at 50% 10%);
    background-color: #FCF5E1; }
  .site-bg__paper-plane {
    z-index: -8;
    position: absolute;
    z-index: -1;
    top: 20px;
    left: 0;
    width: 320px; }
  .site-bg__boy {
    z-index: -8;
    position: absolute;
    z-index: -1;
    top: 40px;
    right: 0;
    width: 280px; }

.login {
  padding: 30px;
  background-color: white;
  border-radius: 40px;
  margin-top: 40px; }
  .login__title {
    text-align: center;
    font-size: 28px;
    color: #C4817F;
    margin-bottom: 20px; }
  .login__logo {
    width: 200px; }
  .login__form form {
    display: flex;
    flex-direction: column; }
  .login__form input {
    width: 300px;
    background-color: #F6E5D2;
    padding-left: 5px;
    border: none; }
  .login__form input:focus {
    background-color: #F6E5D2; }
  .login__form .form-group:nth-child(2) {
    margin-bottom: 5px; }
  .login__form .forget-password-txt {
    color: black;
    font-size: 14px;
    font-weight: 600;
    font-style: italic; }
  .login__form .btn {
    color: white;
    background-color: #F5BD8A;
    border-radius: 20px;
    font-weight: bold;
    flex-grow: 0;
    align-self: flex-end; }
    .login__form .btn a {
      color: white; }

.btn__return {
  position: absolute;
  top: 90px;
  left: 30px;
  background-color: #F5BD8A;
  border-radius: 20px;
  font-weight: bold; }
  .btn__return a {
    color: #ffffff; }

.stocker-menu {
  z-index: 1;
  margin-top: auto;
  margin-bottom: auto;
  display: grid;
  grid-template-columns: repeat(4, 250px);
  gap: 30px;
  justify-content: center;
  padding-bottom: 40px; }
  .stocker-menu__card {
    cursor: pointer;
    border-radius: 40px;
    padding: 20px 20px 0px 20px;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 2px 2px 5px rgba(145, 145, 145, 0.39); }
    .stocker-menu__card h4 {
      margin-top: auto;
      margin-bottom: auto;
      text-align: center;
      font-size: 20px;
      color: #C4817F; }
    .stocker-menu__card img {
      width: 70%; }
    .stocker-menu__card:hover {
      animation: move-up-down .5s linear 1; }
  @media (max-width: 1096px) {
    .stocker-menu {
      grid-template-columns: repeat(2, 250px); } }
  @media (max-width: 600px) {
    .stocker-menu {
      grid-template-columns: repeat(1, 250px); } }

@keyframes move-up-down {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-30px); }
  100% {
    transform: translateY(0); } }

.add-book {
  background-color: white;
  padding: 20px 20px;
  border-radius: 40px;
  position: relative;
  z-index: 1;
  margin-top: auto;
  margin-bottom: auto; }
  .add-book__title {
    text-align: center;
    font-size: 28px;
    color: #C4817F;
    margin-bottom: 20px; }
  .add-book__form input, .add-book__form select {
    width: 300px;
    background-color: #F6E5D2;
    padding-left: 5px;
    border: none; }
  .add-book__form input:focus, .add-book__form select:focus {
    background-color: #F6E5D2; }
  .add-book__form .custom-file .custom-file-label {
    background-color: #F6E5D2; }
    .add-book__form .custom-file .custom-file-label:after {
      background-color: #F5BD8A; }
  .add-book__form .add-user-btn {
    color: white;
    background-color: #F5BD8A;
    border-radius: 20px;
    font-weight: bold;
    flex-grow: 0;
    align-self: flex-end;
    margin: 0 auto;
    margin-top: 20px; }
    .add-book__form .add-user-btn a {
      color: white; }

.edit-book {
  background-color: white;
  padding: 40px;
  margin-top: 70px;
  border-radius: 20px;
  width: 90%; }
  .edit-book__title {
    text-align: center;
    color: #C4817F; }
    .edit-book__title h2 {
      font-weight: 600; }
  .edit-book__form input, .edit-book__form select {
    width: 100%;
    background-color: #F6E5D2;
    padding-left: 5px;
    border: none; }
  .edit-book__form input:not(:read-only):focus, .edit-book__form select:focus {
    background-color: #F6E5D2; }
  .edit-book__form button {
    background-color: #F5BD8A;
    color: white;
    border: none;
    border-radius: 20px;
    font-weight: 650;
    text-align: center;
    width: 150px;
    display: block;
    padding: 5px 0;
    margin: 0 auto !important; }
  .edit-book__form img {
    margin: 5px auto 5px auto;
    max-width: 200px; }
  .edit-book__form h5 {
    margin: 0 auto;
    width: max-content;
    font-weight: 600;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto; }
  .edit-book .custom-file button {
    margin: 10px auto 10px auto !important; }
  .edit-book .custom-file input {
    position: absolute;
    display: none; }

.librarian-menu {
  width: 100%; }
  .librarian-menu__row {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
    margin-bottom: 40px; }
    .librarian-menu__row:first-child {
      margin-top: 40px; }
  .librarian-menu__card {
    height: 100%;
    width: 250px;
    cursor: pointer;
    border-radius: 40px;
    padding: 20px 40px;
    margin: 0 auto;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 2px 2px 5px rgba(145, 145, 145, 0.39); }
    .librarian-menu__card h4 {
      margin-top: 20px;
      text-align: center;
      font-size: 20px;
      color: #C4817F; }
    .librarian-menu__card img {
      width: 100%;
      height: auto; }
    .librarian-menu__card:hover {
      animation: move-up-down .5s linear 1; }

.create-user {
  background-color: white;
  padding: 20px 20px;
  border-radius: 40px;
  position: relative;
  z-index: 1;
  margin-top: 40px; }
  .create-user__title {
    text-align: center;
    font-size: 28px;
    color: #C4817F;
    margin-bottom: 20px; }
  .create-user__form input, .create-user__form select {
    width: 300px;
    background-color: #F6E5D2;
    padding-left: 5px;
    border: none; }
  .create-user__form input:focus, .create-user__form select:focus {
    background-color: #F6E5D2; }
  .create-user__form .custom-file .custom-file-label {
    background-color: #F6E5D2; }
    .create-user__form .custom-file .custom-file-label:after {
      background-color: #F5BD8A; }
  .create-user__form .add-user-btn {
    color: white;
    background-color: #F5BD8A;
    border-radius: 20px;
    font-weight: bold;
    flex-grow: 0;
    align-self: flex-end;
    margin: 0 auto;
    margin-top: 20px; }
    .create-user__form .add-user-btn a {
      color: white; }

.treasure-menu {
  z-index: 1;
  margin-top: auto;
  margin-bottom: auto;
  display: grid;
  grid-template-columns: repeat(4, 250px);
  gap: 30px;
  justify-content: center;
  padding-bottom: 40px; }
  .treasure-menu__card {
    cursor: pointer;
    border-radius: 40px;
    padding: 20px 20px 0px 20px;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 2px 2px 5px rgba(145, 145, 145, 0.39); }
    .treasure-menu__card h4 {
      margin-top: auto;
      margin-bottom: auto;
      text-align: center;
      font-size: 20px;
      color: #C4817F; }
    .treasure-menu__card img {
      width: 70%; }
    .treasure-menu__card:hover {
      animation: move-up-down .5s linear 1; }
  @media (max-width: 1096px) {
    .treasure-menu {
      grid-template-columns: repeat(2, 250px); } }
  @media (max-width: 600px) {
    .treasure-menu {
      grid-template-columns: repeat(1, 250px); } }

@keyframes move-up-down {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-30px); }
  100% {
    transform: translateY(0); } }

.ceo-menu {
  z-index: 1;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 30px;
  justify-content: center;
  padding-bottom: 40px; }
  .ceo-menu__card {
    cursor: pointer;
    border-radius: 40px;
    padding: 20px 20px 0px 20px;
    width: 285px;
    height: 285px;
    margin: 0 auto;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 2px 2px 5px rgba(145, 145, 145, 0.39); }
    .ceo-menu__card h4 {
      margin: auto 0;
      text-align: center;
      font-size: 18px;
      color: #C4817F; }
    .ceo-menu__card img {
      width: 70%;
      height: auto; }
    .ceo-menu__card:hover {
      animation: move-up-down .5s linear 1; }
  @media (max-width: 960px) {
    .ceo-menu {
      grid-template-columns: repeat(2, 300px); } }
  @media (max-width: 650px) {
    .ceo-menu {
      grid-template-columns: repeat(1, 300px); } }
  @media (max-width: 400px) {
    .ceo-menu {
      grid-template-columns: repeat(1, 250px); } }

.pagination {
  padding: 5px;
  background-color: white;
  border-radius: 10px;
  display: inline-flex;
  margin: 0 auto; }
  .pagination__item {
    cursor: pointer;
    width: 30px;
    height: 30px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 5px;
    transition: .2s;
    margin: 0 2px; }
    .pagination__item:hover {
      color: white;
      background-color: pink; }
    .pagination__item.current {
      background-color: #E39697;
      color: white; }

.all-user {
  padding: 80px 20px; }
  .all-user__title {
    text-align: center;
    font-size: 24px;
    color: #C4817F;
    margin-bottom: 20px; }
  .all-user__search {
    background-color: white;
    padding: 20px;
    border-radius: 40px; }
    .all-user__search input {
      background-color: #F6E5D2;
      padding-right: 35px;
      border: none; }
    .all-user__search button {
      cursor: pointer; }
    .all-user__search input:focus {
      background-color: #F6E5D2; }
    .all-user__search button {
      background-color: unset;
      width: 30px;
      height: 30px; }
    .all-user__search .input-wrapper {
      position: relative; }
      .all-user__search .input-wrapper button {
        position: absolute;
        z-index: 2;
        width: 30px;
        height: 30px;
        right: 5px;
        top: 50%;
        transform: translateY(-50%); }
    .all-user__search label, .all-user__search span {
      text-align: right;
      color: #000;
      font-weight: bold; }
    .all-user__search span {
      margin-right: 10px; }
    .all-user__search .form-group {
      margin-bottom: 0; }
  .all-user__container {
    margin-top: 20px; }
  .all-user .user-card {
    background-color: white;
    overflow: hidden;
    border-radius: 30px;
    margin-bottom: 20px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.26); }
    .all-user .user-card__avatar {
      width: 150px;
      height: 150px;
      margin: 0 auto; }
    .all-user .user-card__info {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 10px;
      height: 100%; }
      .all-user .user-card__info p {
        margin-bottom: 0; }
    .all-user .user-card__action {
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 100%; }
      .all-user .user-card__action img {
        width: 30px;
        height: 30px; }
      .all-user .user-card__action > div {
        cursor: pointer; }

.btn__add {
  position: absolute;
  bottom: 30px;
  right: 30px;
  background-color: white;
  border-radius: 50px; }
  .btn__add a {
    font-size: 18px;
    font-weight: bold;
    color: #F5BD8A; }

.user-advance-filter .modal-content {
  background-color: #F5BD8A;
  padding: 20px;
  border-radius: 20px;
  padding-bottom: 40px; }

.user-advance-filter .modal-body {
  border-radius: 20px;
  background-color: white; }
  .user-advance-filter .modal-body h4 {
    color: #C4817F;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px; }
  .user-advance-filter .modal-body form label {
    color: #000;
    font-weight: bold; }
  .user-advance-filter .modal-body form input, .user-advance-filter .modal-body form select {
    background-color: #F6E5D2;
    padding-left: 5px;
    border: none; }

.user-advance-filter button[type=submit] {
  background-color: white;
  width: 150px;
  color: #F5BD8A;
  border-radius: 50px;
  border: none;
  font-weight: bold;
  font-size: 18px;
  margin: 20px auto; }

.edit-user {
  background-color: white;
  padding: 40px;
  margin-top: 70px;
  border-radius: 20px;
  width: 90%; }
  .edit-user__title {
    text-align: center;
    color: #C4817F; }
  .edit-user__form input, .edit-user__form select {
    width: 100%;
    background-color: #F6E5D2;
    padding-left: 5px;
    border: none; }
  .edit-user__form input:not(:read-only):focus, .edit-user__form select:focus {
    background-color: #F6E5D2; }
  .edit-user__form button {
    background-color: #F5BD8A;
    color: white;
    border: none;
    border-radius: 20px;
    text-align: center;
    width: 150px;
    display: block;
    padding: 5px 0; }
  .edit-user__form .user-avatar {
    margin: 0 auto;
    max-width: 250px; }
  .edit-user .custom-file input {
    position: absolute;
    display: none; }
