

    <div class="site-bg">
        <div class="site-bg__curve"></div>
    </div>
    <main class="detail-book-lost">
        <div class="detail-book-return__id">
            <h5>Mã phiếu: ABCDEF</h5>
        </div>
        <div class="detail-book-lost__title">
            <h2>XEM THÔNG TIN PHIẾU GHI NHẬN MẤT SÁCH</h2>
        </div>
        <div class="detail-book-lost__form">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-4">
                        <div class="form-group">
                            <label>Mã độc giả: :</label>
                            <input readonly type="text" class="form-control" value="DG000001"autocomplete="false" >
                        </div>
                        <div class="form-group">
                            <label >Tên sách:</label>
                            <input readonly type="text" class="form-control" value="Hóa đại cương 1"autocomplete="false" >
                        </div>
                        <div class="form-group">
                            <label >Ngày ghi nhận:</label>
                            <input readonly type="text" class="form-control" value="2/2/2020" autocomplete="false" >
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="form-group">
                            <label >Tên độc giả: </label>
                            <input readonly  type="text" value="Lê Kiệt"class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label>Tiền phạt:</label>
                            <input readonly type="text" class="form-control" value="23.000 vnđ"  autocomplete="false" >
                        </div>
                        <div class="form-group">
                            <label >Người ghi nhận:</label>
                            <input readonly type="date" class="form-control" value="Phạm Sơn Nam " readonly autocomplete="false" >
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 order-first order-lg-last text-center">
                        <label style="text-align: center;">Mã sách: BIO00001</label>
                        <img class="user-avatar" id="user-avatar" src="/public/images/librarian/book/book2.png" alt="">
                    </div>
                </div>
                <form id="delete-book-lost-form"></form>
                <button type="submit" form="delete-book-lost-form" class="btn mx-auto">Xóa</button>
            </div>
        </div>
    </main>
