.pagination{
    padding: 5px;
    background-color: white;
    border-radius: 10px;
    display: inline-flex;
    margin: 0 auto;
    &__item{
        cursor: pointer;
        width: 30px;
        height: 30px;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        border-radius: 5px;
        transition: .2s;
        margin: 0 2px;
        &:hover{
            color: white;
            background-color: pink;
        }
        &.current{
            background-color: $pink-2;
            color: white;
        }
    }
}