@import './color';
@import './base';
@import './nav';
@import './home-page';
@import './site-bg';
@import './login';
@import './forgot-password';
@import './stocker/menu';
@import './stocker/add-book';
@import './stocker/edit-book';
@import './stocker/all-book';
@import './stocker/edit-liquidation';
@import './librarian/menu';
@import './librarian/add-user';
@import './treasurer/menu';
@import './treasurer/add-penalty';
@import './ceo/ceo-page';
@import './ceo/add-staff';
@import './ceo/edit-staff';
@import './ceo/all-staff';
@import './ceo/debt-report';
@import './pagination';
@import './librarian/all-user';
@import './librarian/edit-user';
@import './librarian/create-book-borrow';
@import './librarian/list-book-borrow';
@import './librarian/list-book';
@import './librarian/detail-book-borrow';
@import './librarian/detail-book-return';
@import './librarian/create-book-lost';
@import './librarian/detail-book-lost';
@import './librarian/detail-book';
@import './librarian/print-statitic-book-borrow';
