
    <div class="site-bg">
        <div class="site-bg__curve"></div>
    </div>
    <main class="detail-book-return">
        <div class="detail-book-return__id">
            <h5>Mã phiếu: ABCDEF</h5>
        </div>
        <div class="detail-book-return__title">
            <h2>Phiếu trả sách</h2>
        </div>
        <div class="detail-book-return__content">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-4">
                        <div class="form-group">
                            <label>Họ tên:</label>
                            <input type="text" readonly class="form-control" value="Nguyễn Xuân Trường" autocomplete="false" >
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="form-group">
                            <label>Mã độc giả:</label>
                            <input type="text" readonly class="form-control" value="DG000009" autocomplete="false" >
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="form-group">
                            <label>Ngày Trả:</label>
                            <input type="text" readonly class="form-control" value="05/09/2021" autocomplete="false"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-4">
                        <div class="form-group">
                            <label>Tiền phạt kì này: </label>
                            <input type="text" readonly class="form-control" value="4.000 vnđ" autocomplete="false" >
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="form-group">
                            <label>Tiền nợ:</label>
                            <input type="text" readonly class="form-control" value="1.000 vnđ" autocomplete="false" >
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="form-group">
                            <label>Tổng nợ:</label>
                            <input type="text" readonly class="form-control" value="60.000 vnđ" autocomplete="false"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="detail-book-return__title detail-book-return__title--sub">
                <h2>Danh sách sách trả</h2>
            </div>
            <div class="detail-book-return__book-list">
                <div class="book-card">
                    <div class="container-fluid ">
                        <div class="row">
                            <div class="col-12 col-md-5">
                                <div class="row">
                                    <div class="col-12 col-sm-4 p-0">
                                        <div class="book-card__avatar mx-auto mx-sm-0">
                                            <img  src="/images/librarian/book/book1.png" alt="">
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-8">
                                        <div class="book-card__info">
                                            <p>Mã sách: BAA00011</p>
                                            <p>Tên sách: Anh văn 2</p>
                                            <p>Tác giả: HCMUS</p>
                                            <p>Thể loại: A</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-7">
                                <div class="row h-100">
                                    <div class="col-12 col-sm-6 pr-0">
                                        <div class="book-card__info">
                                            <p>Năm xuất bản: 2019 </p>
                                            <p>Nhà xuất bản: Longman</p>
                                            <p>Trị giá: 160.000vnđ</p>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 pr-0">
                                        <div class="book-card__info last-col">
                                            <p>Ngày mượn: 31/08/2021 </p>
                                            <p>Số ngày mượn: 6</p>
                                            <p>Tiền phạt:  <span>2.000 vnđ</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="book-card">
                        <div class="container-fluid ">
                            <div class="row">
                                <div class="col-12 col-md-5">
                                    <div class="row">
                                        <div class="col-12 col-sm-4 p-0">
                                            <div class="book-card__avatar mx-auto mx-sm-0">
                                                <img  src="/images/librarian/book/book1.png" alt="">
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-8">
                                            <div class="book-card__info">
                                                <p>Mã sách: BAA00011</p>
                                                <p>Tên sách: Anh văn 2</p>
                                                <p>Tác giả: HCMUS</p>
                                                <p>Thể loại: A</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-7">
                                    <div class="row h-100">
                                        <div class="col-12 col-sm-6 pr-0">
                                            <div class="book-card__info">
                                                <p>Năm xuất bản: 2019 </p>
                                                <p>Nhà xuất bản: Longman</p>
                                                <p>Trị giá: 160.000vnđ</p>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 pr-0">
                                            <div class="book-card__info last-col">
                                                <p>Ngày mượn: 31/08/2021 </p>
                                                <p>Số ngày mượn: 6</p>
                                                <p>Tiền phạt:  <span>2.000 vnđ</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="d-flex justify-content-between flex-row w-100 flex-wrap">
                    <form  id="delete-return-book-form" style="display: none;"></form>
                    <div style="width: 127px;"></div>
                    <button class="btn" type="submit" form="delete-return-book-form">
                        XÓA
                    </button>
                    <a href="/librarian/return-form/print">
                        <div class="d-flex align-items-center justify-content-center justify-content-sm-start mb-3 mb-sm-0">
                            <img src="/images/librarian/print-user.png" style="width: 30px;" alt="">
                            <span>In phiếu trả sách</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </main>
