  <div class="site-bg">
        <div class="site-bg__curve"></div>
    </div>
    <main class="librarian-menu">
        <div class="librarian-menu__row">
            <a href="/librarian/book">
                <div class="librarian-menu__card">
                    <img src="/images/librarian/book-lookup.png" alt="">
                    <h4>Tra cứu sách</h4>
                </div>
            </a>
            <a href="/librarian/reader/add">
                <div class="librarian-menu__card">
                    <img src="/images/librarian/user-card.png" alt="">
                    <h4>Lập thẻ độc giả</h4>
                </div>
            </a>
            <a href="/librarian/reader">
                <div class="librarian-menu__card">
                    <img src="/images/librarian/people.png" alt="">
                    <h4>Quản lý thẻ độc giả</h4>
                </div>
            </a>
        </div>
        <div class="librarian-menu__row">
            <a href="/librarian/borrow-form/add">
                <div class="librarian-menu__card">
                    <img src="/images/librarian/book-borrow.png" alt="">
                    <h4>Lập phiếu mượn sách</h4>
                </div>
            </a>
            <a href="/librarian/return-form/add">
                <div class="librarian-menu__card">
                    <img src="/images/librarian/book-return.png" alt="">
                    <h4>Lập phiếu trả sách</h4>
                </div>
            </a>
            <a href="/librarian/lost-book-form/add">
                <div class="librarian-menu__card">
                    <img src="/images/librarian/book-lost.png" alt="">
                    <h4>Lập phiếu mất sách</h4>
                </div>
            </a>
        </div>
        <div class="librarian-menu__row">
            <a href="/librarian/borrow-form">
                <div class="librarian-menu__card">
                    <img src="/images/librarian/book-borrow-list.png" alt="">
                    <h4>Quản lý phiếu mượn</h4>
                </div>
            </a>
            <a href="/librarian/return-form">
                <div class="librarian-menu__card">
                    <img src="/images/librarian/book-return-list.png" alt="">
                    <h4>Quản lý phiếu trả sách</h4>
                </div>
            </a>
            <a href="/librarian/lost-book-form">
                <div class="librarian-menu__card">
                    <img src="/images/librarian/book-lost-list.png" alt="">
                    <h4>Quản lý phiếu mất sách</h4>
                </div>
            </a>
            <a href="/librarian/logout">
                <div class="librarian-menu__card">
                    <img src="/images/librarian/logout.png" alt="">
                    <h4>Đăng xuất</h4>
                </div>
            </a>
        </div>
    </main>