.all-user{
    padding: 80px 20px;
    &__title{
        text-align: center;
        font-size: 24px;
        color: $pink-1;
        margin-bottom: 20px;
    }
    &__search{
        background-color: white;
        padding: 20px;
        border-radius: 40px;
        input{
            background-color: $brown-4;
            padding-right: 35px;
            border: none;
        }
        button{
            cursor: pointer;
        }
        input:focus{
            background-color: $brown-4;
        }
        button{
            background-color: unset;
            width: 30px;
            height: 30px;
        }
        .input-wrapper{
            position: relative;
            button{
                position: absolute;
                z-index: 2;
                width: 30px;
                height: 30px;
                right: 5px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        label, span{
            text-align: right;
            color: #000;
            font-weight: bold;
        }
        span{
            margin-right: 10px;
        }
        .form-group{
            margin-bottom: 0;
        }
    }
    &__container{
        margin-top: 20px;
    }
    .user-card{
        background-color: white;
        overflow: hidden;
        border-radius: 30px;
        margin-bottom: 20px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.26);
        &__avatar{
            width: 150px;
            height: 150px;
            margin: 0 auto;
        }
        &__info{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 10px;
            height: 100%;
            p{
                margin-bottom: 0;
            }
        }
        &__action{
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 100%;
            img{
                width: 30px;
                height: 30px;
            }
            & > div{
                cursor: pointer;
            }
            a{
                color: #000;
            }
            button{
                background: none;
            }
        }
    }

   
}

.btn__add{
    position: absolute;
    bottom: 30px;
    right: 30px;
    background-color: white;
    border-radius: 50px;
    a{
        font-size: 18px;
        font-weight: bold;
        color: $brown-3;
    }
}

.user-advance-filter{
    .modal-content{
        background-color: $brown-3;
        padding: 20px;
        border-radius: 20px;
        padding-bottom: 40px;
    }
    .modal-body{
        border-radius: 20px;
        background-color: white;
        h4{
            color: $pink-1;
            font-size: 20px;
            text-transform: uppercase;
            font-weight: bold;
            text-align: center;
            margin-bottom: 20px;
        }
        form{
            label{
                color: #000;
                font-weight: bold;
            }
            input,select{
                background-color: $brown-4;
                padding-left: 5px;
                border: none;
            }
        }
    }
    button[type=submit]{
        background-color: white;
        width: 150px;
        color: $brown-3;
        border-radius: 50px;
        border: none;
        font-weight: bold;
        font-size: 18px;
        margin: 20px auto;
    }
}