.create-book-borrow{
    margin-top: 30px;
    padding: 10px;
    background-color: white;
    max-width: 90vw;
    border-radius: 20px;
    &__id{
        text-align: right;
       h5{
        font-size: 14px;
        color: rgb(116, 116, 116);
       }
    }
    &__title{
       
        text-align: center;
        color: $pink-1;
        text-transform: uppercase;
        &--sub{
            color: $brown-3;
            margin-top: 20px;
        }
        h2{
            font-size: 20px;
        }
        margin-bottom: 20px;
    }
    &__form{
        input, select{
            width: 100%;
            background-color: $brown-4;
            padding-left: 5px;
            border: none;
        }
        input:not(:read-only):focus, select:focus{
            background-color: $brown-4;
        }

        button{
            background-color: $brown-3;
            color: white;
            border: none;
            border-radius: 20px;
            text-align: center;
            width: 150px;
            display: block;
            padding: 5px 0;
            margin: 0 auto;
        }
        .table-responsive{
            td{
                input{
                    width: 200px;
                }
            }
        }
        .add-book-btn{
            background-color: $pink-3;
            color: white;
            width: 200px;
            text-align: center;
            margin: 20px auto;
            padding: 5px 0;
            border-radius: 20px;
        }
        .delete-row{
            cursor: pointer;
        }
    }
    
}