.detail-book-return{
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    margin: 30px 0;
    width: 90vw;
    &__id{
        text-align: right;
       h5{
        font-size: 14px;
        color: rgb(116, 116, 116);
       }
    }
    &__title{
        text-align: center;
        font-size: 24px;
        color: $pink-1;
        margin-bottom: 20px;
        &--sub{
           h2{
            color: $brown-3;
            margin-top: 20px;
           }
        }
        margin-bottom: 20px;
    }
    .book-card{
        border: 3px solid $brown-5  ;
        background-color: white;
        overflow: hidden;
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 20px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.26);
        &__avatar{
            width: 100px;
            margin: 0 auto;
        }
        &__info{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 10px;
            font-weight: 600;
            height: 100%;
            p{
                margin-bottom: 0;
            }
            &.last-col{
                color: $brown-3;
                span{
                    color: red;
                }
            }
        }
        &__action{
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 100%;
            img{
                width: 30px;
                height: 30px;
            }
            & > div{
                cursor: pointer;
            }
        }
    }
    margin-bottom: 20px;

    .my-checkbox-container {
        display: block;
        position: relative;
        padding-left: 30px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 16px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }
        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 25px;
            border: 2px solid #7FA885;
            &::after {
                content: "";
                position: absolute;
                display: none;
            }
            &:after {
                left: 9px;
                top: 5px;
                width: 5px;
                height: 10px;
                border: solid #7FA885;
                border-width: 0 3px 3px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
              }
        }
        &:hover input ~ .checkmark {
            background-color: rgb(221, 221, 221);
        }
        input:checked ~ .checkmark {
            background-color: #7fa88500;
        }
        input:checked ~ .checkmark:after {
            display: block;
        }
    }

    .btn{
        width: 150px;
        background-color: $brown-3;
        color: white;
        border-radius: 20px;
        padding: 10px;
        text-align: center;
    }
}
