 <div class="site-bg">
        <div class="site-bg__curve"></div>
        <div class="site-bg__paper-plane">
            <img src="images/paper-plane.png" alt="">
        </div>
        <!-- <div class="site-bg__boy">
            <img src="images/boy_read_book.png" alt="">
        </div> -->
    </div>
   <main class="treasurer-menu" >
        <a href="/cashier/penalty-form/add">
            <div class="treasurer-menu__card">
                <img src="/images/menu_stocker1.png" alt="">
                <h4>LẬP PHIẾU PHẠT</h4>
            </div>
        </a>
       <a href="/cashier/penalty-form">
            <div class="treasurer-menu__card">
                <img src="/images/menu_stocker2.png" alt="">
                <h4>DANH SÁCH <br> PHIẾU PHẠT</h4>
            </div>
       </a>
        <a href="/cashier/debt-report">
            <div class="treasurer-menu__card">
                <img src="/images/menu_treasurer3.png" alt="">
                <h4>XUẤT BÁO CÁO <br> DƯ NỢ</h4>
            </div>
        </a>
        <a href="/cashier/logout">
            <div class="treasurer-menu__card">
                <img src="/images/menu_stocker4.png" alt="">
                <h4>ĐĂNG XUẤT</h4>
            </div>
        </a>
       
   </main>