<div class="site-bg">
        <div class="site-bg__curve"></div>
    </div>
    <main class="add-staff">
        <div class="add-staff__title">
            <h2>Hồ sơ nhân viên</h2>
        </div>
        <form class="add-staff__form">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="form-group">
                            <label for="fullname">Họ tên:</label>
                            <input type="text" class="form-control" name="fullname" id="fullname" autocomplete="false" >
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="form-group">
                            <label for="dob">Ngày sinh</label>
                            <input type="date" class="form-control" name="dob" id="dob" autocomplete="false" >
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="form-group">
                            <label for="address">Địa chỉ:</label>
                            <input type="text" class="form-control" name="address" id="address" autocomplete="false" >
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="form-group">
                            <label for="address">Điện thoại:</label>
                            <input type="number" class="form-control" name="phone" id="phone" autocomplete="false" >
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="form-group">
                            <label for="certificate">Bằng cấp</label>
                            <select name="certificate" class="form-control" id="certificate">
                                <option value="1">Tú Tài</option>
                                <option value="2">Trung Cấp</option>
                                <option value="3">Cao Đẳng</option>
                                <option value="4">Đại Học</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="form-group">
                            <label for="username">Tài khoản:</label>
                            <input type="text" class="form-control" name="username" id="username" autocomplete="false" >
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="form-group">
                            <label for="posotion">Chức vụ</label>
                            <select name="posotion" class="form-control" id="posotion">
                                <option value="1">Nhân Viên</option>
                                <option value="2">Phó Phòng</option>
                                <option value="3">Trưởng Phòng</option>
                                <option value="4">Phó Giám Đốc</option>
                                <option value="5">Giám Đốc</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="form-group">
                            <label for="department">Bộ phận</label>
                            <select name="department" class="form-control" id="department">
                                <option value="1">Thủ Thư</option>
                                <option value="2">Thủ Kho</option>
                                <option value="3">Thủ Quỹ</option>
                                <option value="4">Ban Giám Đốc</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="form-group">
                            <label for="password">Mật khẩu:</label>
                            <input type="password" class="form-control" name="password" id="password" autocomplete="false" >
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="custom-file">
                            <label for="avatar" style="opacity: 0;">place holder</label>
                            <div class="position-relative">
                                <input type="file" class="custom-file-input" id="avatar">
                                <label class="custom-file-label" for="avatar">Thêm ảnh nhân viên</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="form-group">
                            <label for="repeat-password">Nhập lại mật khẩu:</label>
                            <input type="password" class="form-control" name="repeatPassword" id="repeat-password" autocomplete="false" >
                        </div>
                    </div>
                </div>
                <div class="row">
                    <button class="btn add-staff-btn" type="submit">Thêm nhân viên</button>
                </div>
            </div>
        </form>
    </main>