
<div class="site-bg">
    <div class="site-bg__curve"></div>
</div>
<main class="all-book text-center text-sm-left d-flex justify-content-center flex-column">
    <div class="all-book__title">
        <h2>DANH SÁCH THẺ ĐỘC GIẢ</h2>
    </div>
    <div class="all-book__search">
        <form action="" class="container">
            <div class="row">
                <div class="col-12 col-md-5 mb-3 mb-md-0">
                    <div class="form-group row">
                        <label for="book-id" class="col-12 col-sm-4 col-form-label">Mã/Tên sách: </label>
                        <div class="col-12 col-sm-8 input-wrapper">
                            <div class="input-wrapper">
                                <input type="text" id="book-id" name="bookId" class="form-control">
                                <button type="submit">
                                    <img src="/images/librarian/search.png" alt="">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-5 mb-3 mb-md-0">
                    <div class="form-group row">
                        <label for="fullname" class="col-12 col-sm-4 col-form-label">Tên tác giả: </label>
                        <div class="col-12 col-sm-8">
                            <div class="input-wrapper">
                                <input type="text" id="fullname" name="fullname" class="form-control">
                                <button type="submit">
                                    <img src="/images/librarian/search.png" alt="">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-2 mb-3 mb-md-0">
                    <div class="d-flex align-items-center" style="cursor: pointer;" data-toggle="modal" data-target="#advancedFilterModal">
                        <span>Tìm kiếm nâng cao</span>
                        <button type="button">
                            <img src="/images/librarian/filter.png" alt="">
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="all-book__container">
        <div class="book-card">
            <div class="container-fluid ">
                <div class="row">
                    <div class="col-12 col-md-5">
                        <div class="row">
                            <div class="col-12 col-sm-4">
                                <div class="book-card__avatar mx-auto mx-sm-0">
                                    <img  src="/images/librarian/book/book1.png" alt="">
                                </div>
                            </div>
                            <div class="col-12 col-sm-8">
                                <div class="book-card__info">
                                    <p>Mã sách: BAA00011</p>
                                    <p>Tên sách: Anh văn 2</p>
                                    <p>Tác giả: HCMUS</p>
                                    <p>Thể loại: A</p>
                                    <p>Năm xuất bản: 2019</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-7">
                        <div class="row h-100">
                            <div class="col-12 col-sm-7">
                                <div class="book-card__info">
                                    <p>Nhà xuất bản: Longman</p>
                                    <p>Người tiếp nhận: Trần Minh Kỳ</p>
                                    <p>Ngày nhập: 01/02/2021</p>
                                    <p>Trị giá: 160.000 vnđ</p>
                                    <p>Tình trạng: Còn sách</p>
                                </div>
                            </div>
                            <div class="col-12 col-sm-5">
                                <div class="d-flex flex-column justify-content-center book-card__action">
                                    <a href="/librarian/book/detail">
                                        <div class="d-flex align-items-center justify-content-center justify-content-sm-start mb-3 mb-sm-0">
                                            <img src="/images/librarian/print-user.png" alt="">
                                            <span>Xuất thông tin sách</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="book-card">
            <div class="container-fluid ">
                <div class="row">
                    <div class="col-12 col-md-5">
                        <div class="row">
                            <div class="col-12 col-sm-4">
                                <div class="book-card__avatar mx-auto mx-sm-0">
                                    <img  src="/images/librarian/book/book1.png" alt="">
                                </div>
                            </div>
                            <div class="col-12 col-sm-8">
                                <div class="book-card__info">
                                    <p>Mã sách: BAA00011</p>
                                    <p>Tên sách: Anh văn 2</p>
                                    <p>Tác giả: HCMUS</p>
                                    <p>Thể loại: A</p>
                                    <p>Năm xuất bản: 2019</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-7">
                        <div class="row h-100">
                            <div class="col-12 col-sm-7">
                                <div class="book-card__info">
                                    <p>Nhà xuất bản: Longman</p>
                                    <p>Người tiếp nhận: Trần Minh Kỳ</p>
                                    <p>Ngày nhập: 01/02/2021</p>
                                    <p>Trị giá: 160.000 vnđ</p>
                                    <p>Tình trạng: Còn sách</p>
                                </div>
                            </div>
                            <div class="col-12 col-sm-5">
                                <div class="d-flex flex-column justify-content-center book-card__action">
                                    <a href="/librarian/book/detail">
                                        <div class="d-flex align-items-center justify-content-center justify-content-sm-start mb-3 mb-sm-0">
                                            <img src="/images/librarian/print-user.png" alt="">
                                            <span>Xuất thông tin sách</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="book-card">
            <div class="container-fluid ">
                <div class="row">
                    <div class="col-12 col-md-5">
                        <div class="row">
                            <div class="col-12 col-sm-4">
                                <div class="book-card__avatar mx-auto mx-sm-0">
                                    <img  src="/images/librarian/book/book1.png" alt="">
                                </div>
                            </div>
                            <div class="col-12 col-sm-8">
                                <div class="book-card__info">
                                    <p>Mã sách: BAA00011</p>
                                    <p>Tên sách: Anh văn 2</p>
                                    <p>Tác giả: HCMUS</p>
                                    <p>Thể loại: A</p>
                                    <p>Năm xuất bản: 2019</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-7">
                        <div class="row h-100">
                            <div class="col-12 col-sm-7">
                                <div class="book-card__info">
                                    <p>Nhà xuất bản: Longman</p>
                                    <p>Người tiếp nhận: Trần Minh Kỳ</p>
                                    <p>Ngày nhập: 01/02/2021</p>
                                    <p>Trị giá: 160.000 vnđ</p>
                                    <p>Tình trạng: Còn sách</p>
                                </div>
                            </div>
                            <div class="col-12 col-sm-5">
                                <div class="d-flex flex-column justify-content-center book-card__action">
                                    <a href="/librarian/book/detail">
                                        <div class="d-flex align-items-center justify-content-center justify-content-sm-start mb-3 mb-sm-0">
                                            <img src="/images/librarian/print-user.png" alt="">
                                            <span>Xuất thông tin sách</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="book-card">
            <div class="container-fluid ">
                <div class="row">
                    <div class="col-12 col-md-5">
                        <div class="row">
                            <div class="col-12 col-sm-4">
                                <div class="book-card__avatar mx-auto mx-sm-0">
                                    <img  src="/images/librarian/book/book1.png" alt="">
                                </div>
                            </div>
                            <div class="col-12 col-sm-8">
                                <div class="book-card__info">
                                    <p>Mã sách: BAA00011</p>
                                    <p>Tên sách: Anh văn 2</p>
                                    <p>Tác giả: HCMUS</p>
                                    <p>Thể loại: A</p>
                                    <p>Năm xuất bản: 2019</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-7">
                        <div class="row h-100">
                            <div class="col-12 col-sm-7">
                                <div class="book-card__info">
                                    <p>Nhà xuất bản: Longman</p>
                                    <p>Người tiếp nhận: Trần Minh Kỳ</p>
                                    <p>Ngày nhập: 01/02/2021</p>
                                    <p>Trị giá: 160.000 vnđ</p>
                                    <p>Tình trạng: Còn sách</p>
                                </div>
                            </div>
                            <div class="col-12 col-sm-5">
                                <div class="d-flex flex-column justify-content-center book-card__action">
                                    <a href="/librarian/book/detail">
                                        <div class="d-flex align-items-center justify-content-center justify-content-sm-start mb-3 mb-sm-0">
                                            <img src="/images/librarian/print-user.png" alt="">
                                            <span>Xuất thông tin sách</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="book-card">
            <div class="container-fluid ">
                <div class="row">
                    <div class="col-12 col-md-5">
                        <div class="row">
                            <div class="col-12 col-sm-4">
                                <div class="book-card__avatar mx-auto mx-sm-0">
                                    <img  src="/images/librarian/book/book1.png" alt="">
                                </div>
                            </div>
                            <div class="col-12 col-sm-8">
                                <div class="book-card__info">
                                    <p>Mã sách: BAA00011</p>
                                    <p>Tên sách: Anh văn 2</p>
                                    <p>Tác giả: HCMUS</p>
                                    <p>Thể loại: A</p>
                                    <p>Năm xuất bản: 2019</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-7">
                        <div class="row h-100">
                            <div class="col-12 col-sm-7">
                                <div class="book-card__info">
                                    <p>Nhà xuất bản: Longman</p>
                                    <p>Người tiếp nhận: Trần Minh Kỳ</p>
                                    <p>Ngày nhập: 01/02/2021</p>
                                    <p>Trị giá: 160.000 vnđ</p>
                                    <p>Tình trạng: Còn sách</p>
                                </div>
                            </div>
                            <div class="col-12 col-sm-5">
                                <div class="d-flex flex-column justify-content-center book-card__action">
                                    <a href="/librarian/book/detail">
                                        <div class="d-flex align-items-center justify-content-center justify-content-sm-start mb-3 mb-sm-0">
                                            <img src="/images/librarian/print-user.png" alt="">
                                            <span>Xuất thông tin sách</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="book-card">
            <div class="container-fluid ">
                <div class="row">
                    <div class="col-12 col-md-5">
                        <div class="row">
                            <div class="col-12 col-sm-4">
                                <div class="book-card__avatar mx-auto mx-sm-0">
                                    <img  src="/images/librarian/book/book1.png" alt="">
                                </div>
                            </div>
                            <div class="col-12 col-sm-8">
                                <div class="book-card__info">
                                    <p>Mã sách: BAA00011</p>
                                    <p>Tên sách: Anh văn 2</p>
                                    <p>Tác giả: HCMUS</p>
                                    <p>Thể loại: A</p>
                                    <p>Năm xuất bản: 2019</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-7">
                        <div class="row h-100">
                            <div class="col-12 col-sm-7">
                                <div class="book-card__info">
                                    <p>Nhà xuất bản: Longman</p>
                                    <p>Người tiếp nhận: Trần Minh Kỳ</p>
                                    <p>Ngày nhập: 01/02/2021</p>
                                    <p>Trị giá: 160.000 vnđ</p>
                                    <p>Tình trạng: Còn sách</p>
                                </div>
                            </div>
                            <div class="col-12 col-sm-5">
                                <div class="d-flex flex-column justify-content-center book-card__action">
                                    <a href="/librarian/book/detail">
                                        <div class="d-flex align-items-center justify-content-center justify-content-sm-start mb-3 mb-sm-0">
                                            <img src="/images/librarian/print-user.png" alt="">
                                            <span>Xuất thông tin sách</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pagination">
        <div class="pagination__item pagination__item--prev">
            <i class="fas fa-angle-left"></i>
        </div>
        <div class="pagination__item">
            1
        </div>
        <div class="pagination__item">
            2
        </div>
        <div class="pagination__item current">
            3
        </div>
        <div class="pagination__item">
            4
        </div>
        <div class="pagination__item">
            5
        </div>
        <div class="pagination__item pagination__item--next">
            <i class="fas fa-angle-right"></i>
        </div>
    </div>
</main>
<div class="modal fade book-advance-filter" id="advancedFilterModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-body">
                <h4>Bộ lọc</h4>
                <form id="advancedFilterForm" class="container">
                    <div class="row">
                        <div class="col-12 col-xl-6">
                            <div class="form-group row">
                                <label for="modal-book-id" class="col-12 col-md-4 col-form-label">Mã sách: </label>
                                <div class="col-12 col-md-8 input-wrapper">
                                    <input type="text" id="modal-book-id" name="modalBookId" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="modal-book-name" class="col-12 col-md-4 col-form-label">Tên sách: </label>
                                <div class="col-12 col-md-8 input-wrapper">
                                    <input type="email" id="modal-book-name" name="modalBookName" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="modal-book-nxb" class="col-12 col-md-4 col-form-label">Nhà xuất bản: </label>
                                <div class="col-12 col-md-8 input-wrapper">
                                    <input type="text" id="modal-book-nxb" name="modalNXB" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="modal-book-year" class="col-12 col-md-4 col-form-label">Năm xuất bản: </label>
                                <div class="col-12 col-md-8 input-wrapper">
                                    <input type="text" id="modal-book-year" name="modalBookYear" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="modal-book-author" class="col-12 col-md-4 col-form-label">Tên tác giả: </label>
                                <div class="col-12 col-md-8 input-wrapper">
                                    <input type="text" id="modal-book-author" name="modalBookAuthor" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-xl-6">
                            <div class="form-group row">
                                <label for="modal-book-type" class="col-12 col-md-4 col-form-label">Thể loại:</label>
                                <div class="col-12 col-md-8 input-wrapper">
                                    <select name="modalBookType" class="form-control" id="modal-book-type">
                                        <option value="1">A</option>
                                        <option value="2">B</option>
                                        <option value="2">C</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="modal-book-created-at" class="col-12 col-md-4 col-form-label">Ngày nhập: </label>
                                <div class="col-12 col-md-8 input-wrapper">
                                    <input type="date" id="modal-book-created-at" name="modalBookCreatedAt" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="modal-book-state" class="col-12 col-md-4 col-form-label">Tình Trạng: </label>
                                <div class="col-12 col-md-8 input-wrapper">
                                    <input type="text" id="modal-book-state" name="modalBookState" class="form-control">
                                </div>
                            </div>
                            
                            <div class="form-group row">
                                <label for="modal-book-admin" class="col-12 col-md-4 col-form-label">Người tiếp nhận: </label>
                                <div class="col-12 col-md-8 input-wrapper">
                                    <input type="text" id="modal-book-admin" name="modalBookAdmin" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="modal-book-price" class="col-12 col-md-4 col-form-label">Trị giá: </label>
                                <div class="col-12 col-md-8 input-wrapper">
                                    <input type="text" id="modal-book-price" name="modalBookPrice" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <button type="submit" form="advancedFilterForm" class="btn btn-primary">Tìm kiếm</button>
        </div>
    </div>
</div>