<div class="site-bg">
        <div class="site-bg__curve"></div>
    </div>
    <button class="btn btn__return"><a href="login.html">Trở lại</a></button>
    <main class="login">
        <div class="login__title">
            <h2>Quên mật khẩu</h2>
        </div>
        <div class="d-flex flex-wrap justify-content-center">
            <div class="login__logo">
                <img src="/images/logo_small.png" alt="">
            </div>
            <div class="login__form">   
                <form autocomplete="off">
                    <input autocomplete="false" name="hidden" type="text" style="display:none;">
                    <div class="form-group">
                        <label for="email-phone-input">Email/Số điện thoại</label>
                        <input type="text" class="form-control" name="emailPhone" id="email-phone-input" autocomplete="false" >
                    </div>
                   
                    <p class="forget-password-txt">Mã OPT sẽ được gửi đến email <br> hoặc số điện thoại của bạn</p>
                    <button class="btn login-btn">Xác nhận</button>
                </form>
            </div>
        </div>
    </main>