    <div class="site-bg">
        <div class="site-bg__curve"></div>
    </div>
    <button class="btn btn__return"><a href="index.html">Trở lại</a></button>
    <main class="edit-user">
        <div class="edit-user__title">
            <h2>Thẻ độc giả</h2>
        </div>
        <div class="edit-user__form">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-4">
                        <div class="form-group">
                            <label for="fullname">Họ tên:</label>
                            <input readonly type="text" class="form-control" value="Tống Mĩ Lệ" name="fullname" id="fullname" autocomplete="false" >
                        </div>
                        <div class="form-group">
                            <label for="dob">Ngày sinh:</label>
                            <input readonly type="date" class="form-control" value="2000-10-10" name="dob" id="dob" autocomplete="false" >
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input readonly type="email" class="form-control" value="tmle@gmail.com" name="email" id="email" autocomplete="false" >
                        </div>
                        <div class="form-group">
                            <label for="admi-name">Người lập thẻ:</label>
                            <input readonly type="text" class="form-control" value="Huỳnh Minh Tiến" name="adminName" id="admin-name" autocomplete="false" >
                        </div>
                       
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="form-group">
                            <label for="user-type">Loại độc giả</label>
                            <input readonly name="userType" type="text" value="X" id="user-type" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label for="address">Địa chỉ:</label>
                            <input readonly type="text" class="form-control" value="Quận 12, TP.HCM" name="address" id="address" autocomplete="false" >
                        </div>
                        <div class="form-group">
                            <label for="create-at">Ngày lập thẻ:</label>
                            <input readonly type="date" class="form-control" value="2021-01-01" readonly name="createAt" id="create-at" autocomplete="false" >
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 order-first order-lg-last">
                        <label>Mã độc giả: DF000005</label>
                        <img class="user-avatar" id="user-avatar" src="/images/librarian/user/user1-full.png" alt="">
                    </div>
                </div>
                <button type="button" class="btn mx-auto">In thẻ độc giả</button>
            </div>
        </div>
    </main>