
    <div class="site-bg">
        <div class="site-bg__curve"></div>
    </div>
    <button class="btn btn__return"><a href="index.html">Trở lại</a></button>
    <main class="edit-user">
        <div class="edit-user__title">
            <h2>Chỉnh sửa thông tin độc giả</h2>
        </div>
        <div class="edit-user__form">
            <form action="" class="container">
                <div class="row">
                    <div class="col-12 col-lg-4">
                        <div class="form-group">
                            <label for="fullname">Họ tên:</label>
                            <input type="text" class="form-control" value="Tống Mĩ Lệ" name="fullname" id="fullname" autocomplete="false" >
                        </div>
                        <div class="form-group">
                            <label for="dob">Ngày sinh:</label>
                            <input type="date" class="form-control" value="2000-10-10" name="dob" id="dob" autocomplete="false" >
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" value="tmle@gmail.com" name="email" id="email" autocomplete="false" >
                        </div>
                        <div class="form-group">
                            <label for="admi-name">Người lập thẻ:</label>
                            <input type="text" class="form-control" value="Huỳnh Minh Tiến" name="adminName" id="admin-name" autocomplete="false" >
                        </div>
                       
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="form-group">
                            <label for="user-type">Loại độc giả</label>
                            <select name="userType" id="user-type" class="form-control">
                                <option value="1" selected>X</option>
                                <option value="2" >Y</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="address">Địa chỉ:</label>
                            <input type="text" class="form-control" value="Quận 12, TP.HCM" name="address" id="address" autocomplete="false" >
                        </div>
                        <div class="form-group">
                            <label for="create-at">Ngày lập thẻ:</label>
                            <input type="date" class="form-control" value="2021-01-01" readonly name="createAt" id="create-at" autocomplete="false" >
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 order-first order-lg-last">
                        <label>Mã độc giả: DF000005</label>
                        <img class="user-avatar" id="user-avatar" src="/images/librarian/user/user1-full.png" alt="">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12 col-sm-4">
                        <button type="submit" class="btn mx-auto mb-3 mx-sm-0 mb-sm-0">Lưu</button>
                    </div>
                    <div class="col-12 col-sm-4">
                        <button type="button" class="btn mx-auto mb-3 mx-sm-0 mb-sm-0">Hủy</button>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="custom-file">
                            <button type="button" id="change-image-btn" class="btn mx-auto mb-3 mx-sm-0 mb-sm-0">Thay đổi ảnh</button>
                            <input type="file" accept="image/png" class="custom-file-input" id="change-file">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </main>
    
    <script>
        $(document).ready(function(){
            const changeImageBtn = document.getElementById("change-image-btn");
            const changeFile = document.getElementById("change-file");
            changeImageBtn.addEventListener("click", (e)=>{

                changeFile.click();
            });

            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#user-avatar').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#change-file").change(function(){
                readURL(this);
            });
        })
    </script>
