 <div class="site-bg">
        <div class="site-bg__curve"></div>
    </div>
    <main class="create-book-borrow">
        <div class="create-book-borrow__id">
            <h5>Mã phiếu: ABCDEF</h5>
        </div>
        <div class="create-book-borrow__title">
            <h2>Phiếu mượn sách</h2>
        </div>
        <form class="create-book-borrow__form">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div class="form-group">
                            <label for="fullname">Họ tên:</label>
                            <input type="text" class="form-control" name="fullname" id="fullname" autocomplete="false" >
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-group">
                            <label for="user-id">Mã độc giả:</label>
                            <input type="text" class="form-control" name="userId" id="user-id" autocomplete="false" >
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-group">
                            <label for="created-at">Ngày mượn: </label>
                            <input type="date" readonly class="form-control" name="createdAt" id="created-at" autocomplete="false" >
                        </div>
                    </div>
                </div>
                <div class="create-book-borrow__title create-book-borrow__title--sub">
                    <h2>Danh sách sách mượn</h2>
                </div>
                
                <div class="table-responsive">
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Mã sách</th>
                                <th scope="col">Tên sách</th>
                                <th scope="col">Thể loại</th>
                                <th scope="col">Tác giả</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody id="book-table">
                            <tr data-id="1">
                                <th scope="row" class="row-no">1</th>
                                <td>
                                    <input class="form-control" type="text" name="bookIds[]" id="book-id-1">
                                </td>
                                <td>
                                    <input class="form-control" readonly type="text" name="bookNames[]" id="book-name-1">
                                </td>
                                <td>
                                    <input class="form-control" readonly type="text" name="bookTypes[]" id="book-type-1">
                                </td>
                                <td>
                                    <input class="form-control" readonly type="text" name="bookAuthors[]" id="book-author-1">
                                </td>
                                <td class="delete-row" onclick="removeRow(this)">
                                    <i class="far fa-trash-alt"></i>
                                </td>
                            </tr>
                            <tr data-id="1">
                                <th scope="row" class="row-no">2</th>
                                <td>
                                    <input class="form-control" type="text" name="bookIds[]" id="book-id-1">
                                </td>
                                <td>
                                    <input class="form-control" readonly type="text" name="bookNames[]" id="book-name-1">
                                </td>
                                <td>
                                    <input class="form-control" readonly type="text" name="bookTypes[]" id="book-type-1">
                                </td>
                                <td>
                                    <input class="form-control" readonly type="text" name="bookAuthors[]" id="book-author-1">
                                </td>
                                <td class="delete-row" onclick="removeRow(this)">
                                    <i class="far fa-trash-alt"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn add-book-btn" id="add-book-btn">Thêm sách</button>
                </div>
                <div class="row">
                    <button class="btn create-book-borrow__btn" type="submit">Tạo phiếu mượn</button>
                </div>
            </div>
        </form>
    </main>
    <script>
        $(document).ready(function(){
            const addBookBtn = document.getElementById("add-book-btn");
            const bookTable = document.getElementById("book-table");
            let currentId = bookTable.getElementsByTagName("tr").length + 1;
            const deleteRowBtns = document.getElementsByClassName("delete-row");
            addBookBtn.addEventListener("click", (e)=>{
                const n = bookTable.getElementsByTagName("tr").length;
                if(n < 4){
                    let newRow = ` <tr>
                                <th scope="row" class="row-no">${n+1}</th>
                                <td>
                                    <input class="form-control" type="text" name="bookIds[]" id="book-id-1">
                                </td>
                                <td>
                                    <input class="form-control" readonly type="text" name="bookNames[]" id="book-name-1">
                                </td>
                                <td>
                                    <input class="form-control" readonly type="text" name="bookTypes[]" id="book-type-1">
                                </td>
                                <td>
                                    <input class="form-control" readonly type="text" name="bookAuthors[]" id="book-author-1">
                                </td>
                                <td class="delete-row" onclick="removeRow(this)">
                                    <i class="far fa-trash-alt"></i>
                                </td>
                            </tr>`;
                $("#book-table").append(newRow);
                }
            });
            const date = Date.now();
            const d = new Date(date);
            const dateStr = d.getFullYear() + "-" + (d.getMonth() + 1) + '-' + d.getDate();
            document.getElementById("created-at").value=dateStr;
        });
        function removeRow(o){
            var p=o.parentNode;
            p.parentNode.removeChild(p);
            const nos = document.getElementsByClassName("row-no");
            const len = nos.length;
            for(let i = 0 ; i < len ;i++){
                nos[i].innerHTML=i+1;
            }
        }
    </script>