  <div class="site-bg">
        <div class="site-bg__curve"></div>
    </div>
    
    <main class="list-book-borrow">
        <div class="list-book-borrow__title">
            <h2>Danh sách phiếu mượn sách</h2>
        </div>
        <form class="list-book-borrow__search">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="form-group row">                            
                            <label for="form-id" class="col-12 col-sm-4 col-form-label">Mã phiếu: </label>
                            <div class="col-12 col-sm-8 input-wrapper">
                                <div class="input-wrapper">
                                    <input type="text" id="form-id" name="formId" class="form-control">
                                    <button type="submit">
                                        <img src="/images/librarian/search.png" alt="">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group row">      
                            <label for="fullname" class="col-12 col-sm-4 col-form-label">Tên độc giả: </label>
                            <div class="col-12 col-sm-8 input-wrapper">
                                <div class="input-wrapper">
                                    <input type="text" id="fullname" name="fullname" class="form-control">
                                    <button type="submit">
                                        <img src="/images/librarian/search.png" alt="">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="form-group row">                            
                            <label for="create-at" class="col-12 col-sm-4 col-form-label">Ngày mượn: </label>
                            <div class="col-12 col-sm-8 input-wrapper">
                                <div class="input-wrapper">
                                    <input type="date" id="create-at" name="createAt" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group row">      
                            <label for="user-id" class="col-12 col-sm-4 col-form-label">Mã độc giả: </label>
                            <div class="col-12 col-sm-8 input-wrapper">
                                <div class="input-wrapper">
                                    <input type="text" id="user-id" name="userId" class="form-control">
                                    <button type="submit">
                                        <img src="/images/librarian/search.png" alt="">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="table-responsive">
            <table class="table table-borderless" style="border-collapse: unset;">
                <thead>
                    <tr>
                            <th scope="col">STT</th>
                            <th scope="col">Mã phiếu</th>
                            <th scope="col">Mã độc giả</th>
                            <th scope="col">Tên độc giả</th>
                            <th scope="col">Số sách mượn</th>
                            <th scope="col">Ngày mượn</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="book-borrow-item">
                        <td>00001</td>
                        <td>
                            <span>ABCDEF</span>
                        </td>
                        <td>
                            <span>DG000005</span>
                        </td>
                        <td>
                            <span>Tống Mĩ Lệ</span>
                        </td>
                        <td>
                            <span>1</span>
                        </td>
                        <td style="display: none;">
                            <a href="/librarian/borrow-form/detail"></a>
                        </td>
                        <td>
                            <span>01/01/2021</span>
                        </td>
                    </tr>
                    <tr class="book-borrow-item">
                        <td>00001</td>
                        <td>
                            <span>ABCDEF</span>
                        </td>
                        <td>
                            <span>DG000005</span>
                        </td>
                        <td>
                            <span>Tống Mĩ Lệ</span>
                        </td>
                        <td>
                            <span>1</span>
                        </td>
                        <td style="display: none;">
                            <a href="/librarian/borrow-form/detail"></a>
                        </td>
                        <td>
                            <span>01/01/2021</span>
                        </td>
                        
                    </tr>
                    <tr class="book-borrow-item">
                        <td>00001</td>
                        <td>
                            <span>ABCDEF</span>
                        </td>
                        <td>
                            <span>DG000005</span>
                        </td>
                        <td>
                            <span>Tống Mĩ Lệ</span>
                        </td>
                        <td>
                            <span>1</span>
                        </td>
                        <td style="display: none;">
                            <a href="/librarian/borrow-form/detail"></a>
                        </td>
                        <td>
                            <span>01/01/2021</span>
                        </td>
                       
                    </tr>
                    <tr class="book-borrow-item">
                        <td>00001</td>
                        <td>
                            <span>ABCDEF</span>
                        </td>
                        <td>
                            <span>DG000005</span>
                        </td>
                        <td>
                            <span>Tống Mĩ Lệ</span>
                        </td>
                        <td>
                            <span>1</span>
                        </td>
                         <td style="display: none;">
                            <a href="/librarian/borrow-form/detail"></a>
                        </td>
                        <td>
                            <span>01/01/2021</span>
                        </td>
                        
                    </tr>
                    <tr class="book-borrow-item">
                        <td>00001</td>
                        <td>
                            <span>ABCDEF</span>
                        </td>
                        <td>
                            <span>DG000005</span>
                        </td>
                        <td>
                            <span>Tống Mĩ Lệ</span>
                        </td>
                        <td>
                            <span>1</span>
                        </td>
                        <td style="display: none;">
                            <a href="/librarian/borrow-form/detail"></a>
                        </td>
                        <td>
                            <span>01/01/2021</span>
                        </td>
                        
                    </tr>
                    <tr class="book-borrow-item">
                        <td>00001</td>
                        <td>
                            <span>ABCDEF</span>
                        </td>
                        <td>
                            <span>DG000005</span>
                        </td>
                        <td>
                            <span>Tống Mĩ Lệ</span>
                        </td>
                        <td>
                            <span>1</span>
                        </td>
                        <td style="display: none;">
                            <a href="/librarian/borrow-form/detail"></a>
                        </td>
                        <td>
                            <span>01/01/2021</span>
                        </td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
    <div class="d-flex flex-row justify-content-between w-100 mb-4" style="max-width: 90vw; z-index: 1">
        <div style="width: 150px;"></div>
        <div class="pagination">
            <div class="pagination__item pagination__item--prev">
                <i class="fas fa-angle-left"></i>
            </div>
            <div class="pagination__item">
                1
            </div>
            <div class="pagination__item">
                2
            </div>
            <div class="pagination__item current">
                3
            </div>
            <div class="pagination__item">
                4
            </div>
            <div class="pagination__item">
                5
            </div>
            <div class="pagination__item pagination__item--next">
                <i class="fas fa-angle-right"></i>
            </div>
        </div>
        <button class="btn btn-report-book-borrow">Xuất báo cáo</button>
    </div>

