<div class="site-bg">
        <div class="site-bg__curve"></div>
    </div>
    <main class="ceo-menu">
        <a href="/chairman/debt-report">
            <div class="ceo-menu__card">
                <img src="../../images/ceo/debt_statistics.png" alt="">
                <h4>BÁO CÁO THỐNG KÊ ĐỘC GIẢ NỢ TIỀN PHẠT</h4>
            </div>
        </a>
        <a href="/chairman/book-return-report">
                <div class="ceo-menu__card">
                    <img src="../../images/ceo/book_return_late_statistics.png" alt="">
                    <h4>BÁO CÁO THỐNG KÊ SÁCH TRẢ TRỄ</h4>
                </div>
        </a>
        <a href="/chairman/book-borrowing-report">
            <div class="ceo-menu__card">
                <img src="../../images/ceo/book_borrowed_statistics.png" alt="">
                <h4>THỐNG KÊ TÌNH HÌNH MƯỢN SÁCH THEO THỂ LOẠI</h4>
            </div>
        </a>
        <a href="/chairman/staff/add">
            <div class="ceo-menu__card">
                <img src="../../images/ceo/add_staff.png" alt="">
                <h4>THÊM NHÂN VIÊN</h4>
            </div>
        </a>
        <a href="/chairman/staff">
            <div class="ceo-menu__card">
                <img src="../../images/ceo/staff_manager.png" alt="">
                <h4>QUẢN LÝ NHÂN VIÊN</h4>
            </div>
        </a>
        <a href="chairman/logout">
            <div class="ceo-menu__card">
                <img src="../../images/ceo/logout.png" alt="">
                <h4>ĐĂNG XUẤT</h4>
            </div>
        </a>
    </main>