<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/x-icon" href="/public/images/logo_small.png">
    <script src="https://kit.fontawesome.com/28493d7750.js" crossorigin="anonymous"></script>
    <title>SGK Library</title>
</head>
<body>
    <div class="navbar sgk-nav">
        <a href="/">
            <img src="/public/images/logo.png" alt="skg-logo">
        </a>
    </div>
    <div class="site-bg">
        <div class="site-bg__curve"></div>
    </div>
    <main class="create-book-lost">
        <div class="create-book-lost__id">
            <h5>Mã phiếu: XXXXXX</h5>
        </div>
        <div class="create-book-lost__title">
            <h2>PHIẾU THU GHI NHẬN MẤT SÁCH</h2>
        </div>
        <form class="create-book-lost__form">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label for="fullname">Họ tên:</label>
                            <input type="text" class="form-control" name="fullname" id="fullname" autocomplete="false" >
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label for="user-id">Mã độc giả:</label>
                            <input type="text" class="form-control" name="userId" id="user-id" autocomplete="false" >
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label for="book">Tên sách: </label>
                            <input type="book" class="form-control" name="book" id="book" autocomplete="false" >
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label for="created-at">Ngày ghi nhận: </label>
                            <input type="date" readonly class="form-control" name="createdAt" id="created-at" autocomplete="false" >
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label for="admin">Người ghi nhận:</label>
                            <input type="text" class="form-control" name="admin" id="admin" autocomplete="false" >
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label for="money">Tiền phạt:</label>
                            <input type="text" class="form-control" name="money" id="money" autocomplete="false" >
                        </div>
                    </div>
                </div>
                <div class="row">
                    <button class="btn create-book-lost__btn" type="submit">Tạo phiếu</button>
                </div>
            </div>
        </form>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
       
</body>
</html>