<div class="site-bg">
        <div class="site-bg__curve"></div>
    </div>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col col-lg-6 col-md-12 my-5">
                <main class="add-liquidation">
                    <div class="add-liquidation__title">
                        <h2>SÁCH THANH LÝ</h2>
                    </div>
                    <form class="add-liquidation__search">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12 col-md-12">
                                    <div class="form-group row">                            
                                        <label for="form-id" class="col-12 col-sm-4 col-form-label">Mã danh sách: </label>
                                        <div class="col-12  col-sm-8 input-wrapper">
                                            <div class="input-wrapper">
                                                <input type="text" id="form-id" name="formId" class="form-control">
                                                <button type="submit">
                                                    <img src="/images/librarian/search.png" alt="">
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-12">
                                    <div class="form-group row">                            
                                        <label for="form-id" class="col-12 col-sm-4 col-form-label">Ngày thanh lý: </label>
                                        <div class="col-12  col-sm-8 input-wrapper">
                                            <div class="input-wrapper">
                                                <input type="date" id="create-at" name="createAt" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-12">
                                    <div class="form-group row">                            
                                        <label for="form-id" class="col-12 col-sm-4 col-form-label">Mã người thanh lý: </label>
                                        <div class="col-12  col-sm-8 input-wrapper">
                                            <div class="input-wrapper">
                                                <input type="text" id="form-id" name="formId" class="form-control">
                                                <button type="submit">
                                                    <img src="/images/librarian/search.png" alt="">
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-12">
                                    <div class="form-group row">                            
                                        <label for="form-id" class="col-12 col-sm-4 col-form-label">Người thanh lý: </label>
                                        <div class="col-12  col-sm-8 input-wrapper">
                                            <div class="input-wrapper">
                                                <input type="text" id="form-id" name="formId" class="form-control">
                                                <button type="submit">
                                                    <img src="/images/librarian/search.png" alt="">
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive">
                        <table class="table table-borderless" style="border-collapse: unset;">
                            <thead>
                                <tr>
                                        <th scope="col">STT</th>
                                        <th scope="col">Mã sách</th>
                                        <th scope="col">Tên sách</th>
                                        <th scope="col">Lý do thanh lý</th>
                                        <th scope="col">Hủy</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="liquidation-item">
                                    <td>00001</td>
                                    <td>
                                        <span>BAA00011</span>
                                    </td>
                                    <td>
                                        <span>Anh văn 2</span>
                                    </td>
                                    <td>
                                        <span>Hư hỏng</span>
                                    </td>
                                    <td class="td-near-last-child">
                                        <button class="delete-btn">Hủy</button>
                                    </td>
                                </tr>
                                <tr class="liquidation-item">
                                    <td>00001</td>
                                    <td>
                                        <span>BAA00011</span>
                                    </td>
                                    <td>
                                        <span>Anh văn 2</span>
                                    </td>
                                    <td>
                                        <span>Hư hỏng</span>
                                    </td>
                                    <td class="td-near-last-child">
                                        <button class="delete-btn">Hủy</button>
                                    </td>
                                </tr>
                                <tr class="liquidation-item">
                                    <td>00001</td>
                                    <td>
                                        <span>BAA00011</span>
                                    </td>
                                    <td>
                                        <span>Anh văn 2</span>
                                    </td>
                                    <td>
                                        <span>Hư hỏng</span>
                                    </td>
                                    <td class="td-near-last-child">
                                        <button>Hủy</button>
                                    </td>
                                </tr>
                                <tr class="liquidation-item">
                                    <td>00001</td>
                                    <td>
                                        <span>BAA00011</span>
                                    </td>
                                    <td>
                                        <span>Anh văn 2</span>
                                    </td>
                                    <td>
                                        <span>Hư hỏng</span>
                                    </td>
                                    <td class="td-near-last-child">
                                        <button class="delete-btn">Hủy</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <a href="" class="btn btn-add-liquidation">Xác nhận</a>
                        <a href="" class="btn btn-delete-liquidation">Hủy</a>
                    </div>
                </main>
            </div>
            <div class="col col-lg-6 col-md-12 my-5">
                <main class="add-liquidation">
                    <div class="add-liquidation__title">
                        <h2>SÁCH HIỆN CÓ</h2>
                    </div>
                    <div class="table-responsive">
                        <a href="" class="btn btn-reload-liquidation">Làm mới</a>
                        <button class="btn btn-filter-liquidation" data-toggle="modal" data-target="#advancedFilterModal">
                            Bộ lọc
                        </button>
                        <table class="table table-borderless" style="border-collapse: unset;">
                            <thead>
                                <tr>
                                        <th scope="col">STT</th>
                                        <th scope="col">Mã sách</th>
                                        <th scope="col">Tên sách</th>
                                        <th scope="col">Thanh lý</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="liquidation-item">
                                    <td>00001</td>
                                    <td>
                                        <span>BAA00011</span>
                                    </td>
                                    <td>
                                        <span>Anh văn 2</span>
                                    </td>
                                    <td class="td-near-last-child">
                                        <button data-toggle="modal" data-target="#liquidationReason">Thanh lý</button>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr class="liquidation-item">
                                    <td>00001</td>
                                    <td>
                                        <span>BAA00011</span>
                                    </td>
                                    <td>
                                        <span>Anh văn 2</span>
                                    </td>
                                    <td class="td-near-last-child">
                                        <button data-toggle="modal" data-target="#liquidationReason">Thanh lý</button>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr class="liquidation-item">
                                    <td>00001</td>
                                    <td>
                                        <span>BAA00011</span>
                                    </td>
                                    <td>
                                        <span>Anh văn 2</span>
                                    </td>
                                    <td class="td-near-last-child">
                                        <button data-toggle="modal" data-target="#liquidationReason">Thanh lý</button>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr class="liquidation-item">
                                    <td>00001</td>
                                    <td>
                                        <span>BAA00011</span>
                                    </td>
                                    <td>
                                        <span>Anh văn 2</span>
                                    </td>
                                    <td class="td-near-last-child">
                                        <button data-toggle="modal" data-target="#liquidationReason">Thanh lý</button>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr class="liquidation-item">
                                    <td>00001</td>
                                    <td>
                                        <span>BAA00011</span>
                                    </td>
                                    <td>
                                        <span>Anh văn 2</span>
                                    </td>
                                    <td class="td-near-last-child">
                                        <button data-toggle="modal" data-target="#liquidationReason">Thanh lý</button>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr class="liquidation-item">
                                    <td>00001</td>
                                    <td>
                                        <span>BAA00011</span>
                                    </td>
                                    <td>
                                        <span>Anh văn 2</span>
                                    </td>
                                    <td class="td-near-last-child">
                                        <button data-toggle="modal" data-target="#liquidationReason">Thanh lý</button>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr class="liquidation-item">
                                    <td>00001</td>
                                    <td>
                                        <span>BAA00011</span>
                                    </td>
                                    <td>
                                        <span>Anh văn 2</span>
                                    </td>
                                    <td class="td-near-last-child">
                                        <button data-toggle="modal" data-target="#liquidationReason">Thanh lý</button>
                                    </td>
                                </tr>
                            </tbody>
                            
                        </table>
                        
                    </div>
                    <div class="d-flex flex-row justify-content-between w-100" style="z-index: 1">
                        <div class="pagination">
                            <div class="pagination__item pagination__item--prev">
                                <i class="fas fa-angle-left"></i>
                            </div>
                            <div class="pagination__item">
                                1
                            </div>
                            <div class="pagination__item">
                                2
                            </div>
                            <div class="pagination__item current">
                                3
                            </div>
                            <div class="pagination__item">
                                4
                            </div>
                            <div class="pagination__item">
                                5
                            </div>
                            <div class="pagination__item pagination__item--next">
                                <i class="fas fa-angle-right"></i>
                            </div>
                        </div>
                    </div>
                </main>
                <div class="modal fade liquidation-book-advance-filter" id="advancedFilterModal" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-body">
                                <h4>Bộ lọc</h4>
                                <form id="advancedFilterForm" class="container">
                                    <div class="row">
                                        <div class="col-12 col-xl-6">
                                            <div class="form-group row">
                                                <label for="modal-user-id" class="col-12 col-md-4 col-form-label">Mã sách: </label>
                                                <div class="col-12 col-md-8 input-wrapper">
                                                    <input type="text" id="modal-user-id" name="modalUserId" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="modal-user-email" class="col-12 col-md-4 col-form-label">Tên sách: </label>
                                                <div class="col-12 col-md-8 input-wrapper">
                                                    <input type="email" id="modal-user-email" name="modalUserEmail" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="modal-user-type" class="col-12 col-md-4 col-form-label">Thể loại:</label>
                                                <div class="col-12 col-md-8 input-wrapper">
                                                    <select name="modalUserType" class="form-control" id="modal-user-type">
                                                        <option value="1">A</option>
                                                        <option value="2">B</option>
                                                        <option value="2">C</option>
                                                    </select>
                                                </div>
                                            </div>
                                            
                                            <div class="form-group row">
                                                <label for="modal-user-fullname" class="col-12 col-md-4 col-form-label">Nhà xuất bản: </label>
                                                <div class="col-12 col-md-8 input-wrapper">
                                                    <input type="text" id="modal-user-fullname" name="modalFullname" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="modal-user-admin" class="col-12 col-md-4 col-form-label">Năm xuất bản: </label>
                                                <div class="col-12 col-md-8 input-wrapper">
                                                    <input type="text" id="modal-user-admin" name="modalUserAdmin" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-xl-6">
                                            <div class="form-group row">
                                                <label for="modal-user-fullname" class="col-12 col-md-4 col-form-label">Tên tác giả: </label>
                                                <div class="col-12 col-md-8 input-wrapper">
                                                    <input type="text" id="modal-user-fullname" name="modalFullname" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="modal-user-admin" class="col-12 col-md-4 col-form-label">Người tiếp nhận: </label>
                                                <div class="col-12 col-md-8 input-wrapper">
                                                    <input type="text" id="modal-user-admin" name="modalUserAdmin" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="modal-user-created-dob" class="col-12 col-md-4 col-form-label">Ngày nhập: </label>
                                                <div class="col-12 col-md-8 input-wrapper">
                                                    <input type="date" id="modal-user-dob" name="modalUserDob" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="modal-user-address" class="col-12 col-md-4 col-form-label">Tình trạng: </label>
                                                <div class="col-12 col-md-8 input-wrapper">
                                                    <input type="text" id="modal-user-address" name="modalUserAddress" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <button type="submit" form="advancedFilterForm" class="btn btn-primary">Tìm kiếm</button>
                        </div>
                    </div>
                </div>
                <div class="modal fade liquidation-reason" id="liquidationReason" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-body">
                                <h4>Lý do thanh lý</h4>
                                <form id="advancedFilterForm" class="container">
                                    <div class="row">
                                        <div class="col-12 col-xl-12">
                                            <div class="form-group row">
                                                <button class="btn-reload-liquidation">Hư hỏng</button>
                                            </div>
                                            <div class="form-group row">
                                                <button class="btn-delete-liquidation">Mất</button>
                                            </div>
                                            <div class="form-group row">
                                                <button class="btn-filter-liquidation">Độc giả làm mất</button>

                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
           
            </div>
           
        </div>
    </div>
    <script>
        $(document).ready(function(){
            const item = document.getElementsByClassName("liquidation-item");
            const n = item.length;
            for(let i = 0; i < n; i++){
                item[i].onclick=function(e){
                    item[i].getElementsByTagName("a")[0].click();
                }
            }
        })
    </script>