  <div class="site-bg">
        <div class="site-bg__curve"></div>
    </div>
    <main class="add-book">
        <div class="add-book__title">
            <h2>THÔNG TIN SÁCH</h2>
        </div>
        <form class="add-book__form">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="form-group">
                            <label for="fullname">Tên sách:</label>
                            <input type="text" class="form-control" name="fullname" id="fullname" autocomplete="false" >
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="form-group">
                            <label for="user-type">Người tiếp nhận:</label>
                            <input type="text" class="form-control" name="fullname" id="fullname" autocomplete="false" >

                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="custom-file">
                            <label for="admin-create" style="opacity: 0;">place holder</label>
                            <div class="position-relative">
                                <input type="file" class="custom-file-input" id="book">
                                <label class="custom-file-label" for="book">Thêm ảnh bìa sách</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="form-group">
                            <label for="address">Năm xuất bản:</label>
                            <input type="text" class="form-control" name="address" id="address" autocomplete="false" >
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="form-group">
                            <label for="email">Nhà xuất bản:</label>
                            <input type="email" class="form-control" name="email" id="email" autocomplete="false" >
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="form-group">
                            <label for="create-at">Ngày:</label>
                            <input type="date" class="form-control" name="createAt" id="create-at" autocomplete="false" >
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="form-group">
                            <label for="admin-create">Trị giá:</label>
                            <input type="text" class="form-control" name="adminCreate" id="admin-create" autocomplete="false" >
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="form-group">
                            <label for="admin-create">Tác giả:</label>
                            <input type="text" class="form-control" name="adminCreate" id="admin-create" autocomplete="false" >
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="form-group">
                            <label for="admin-create">Thể loại:</label>
                            <input type="text" class="form-control" name="adminCreate" id="admin-create" autocomplete="false" >
                        </div>
                    </div>
                </div>
                <div class="row">
                    <button class="btn add-user-btn" type="submit">Thêm sách</button>
                </div>
            </div>
        </form>
    </main>