.edit-book{
    background-color: white;
    padding: 40px;
    margin-top: 70px;
    border-radius: 20px;
    width: 90%;
    
    &__title{
        text-align: center;
        color: $pink-1;
        h2 {
            font-weight: 600;
        }
    }
    &__form{
        
        input, select{
            width: 100%;
            background-color: $brown-4;
            padding-left: 5px;
            border: none;
        }
        input:not(:read-only):focus, select:focus{
            background-color: $brown-4;
        }
    
        button{
            background-color: $brown-3;
            color: white;
            border: none;
            border-radius: 20px;
            font-weight: 650;
            text-align: center;
            width: 150px;
            display: block;
            padding: 5px 0;
            margin: 0 auto !important;
        }
        img{
            
            margin: 5px auto 5px auto;
            max-width: 200px;
        }
        h5{
            width: max-content;
            font-weight: 600;
            margin-bottom: 15px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .custom-file{
        button{
            margin: 10px auto 10px auto !important;
        }
        input{
            position: absolute;
            display: none;
        }
    }
    
}