
.stocker-menu{
    z-index: 1;
    margin-top: auto;
    margin-bottom: auto;
    display: grid;
    grid-template-columns: repeat(4, 250px);
    
    gap: 30px;
    justify-content: center;
    padding-bottom: 40px;
    &__card{
        cursor: pointer;
        border-radius: 40px;
        padding: 20px 20px 0px 20px;
        width: 250px;
        height: 250px;
        margin: 0 auto;
        background-color: white;
        display: flex;
        align-items: center;
        flex-direction: column;
        box-shadow: 2px 2px 5px rgba(145, 145, 145, 0.39);
        h4{
            margin-top: auto;
            margin-bottom: auto;
            text-align: center;
            font-size: 20px;
            color: $pink-1;
            
        }
        img {
            width: 70%;
        }

        &:hover{
            animation: move-up-down .5s linear 1;
        }
    }
    @include respon(1096){
        grid-template-columns: repeat(2, 250px);
    }
    @include respon(600){
        grid-template-columns: repeat(1, 250px);
    }
}

@keyframes move-up-down{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(0);
    }
}

